n8n/workflows/01-apps-list.json
{
  "id": "fwt-wf-apps-list",
  "name": "FWT - GET /apps (list)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "apps",
        "responseMode": "lastNode",
        "options": {
          "responseData": "firstEntryJson"
        }
      },
      "id": "wh-apps-list",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "fwt-apps-list"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id::text, name, status, current_version, to_char(updated_at, 'YYYY-MM-DD\"T\"HH24:MI:SSOF') AS updated_at FROM apps WHERE status != 'archived' ORDER BY updated_at DESC",
        "options": {}
      },
      "id": "pg-apps-list",
      "name": "Query Apps",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": { "id": "fwt-pg", "name": "Postgres FlexWorkTwin" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Bundelt alle Postgres-Rows in ein einzelnes Item, dessen json eine 'items'-Property\n// mit dem Array enthaelt. Der Webhook antwortet via firstEntryJson mit genau diesem json.\n// So bekommt der Client { items: [...] } zurueck — deterministisch in n8n 1.85.\nconst rows = $input.all().map(i => i.json);\nreturn [{ json: { items: rows } }];"
      },
      "id": "code-apps-list-aggregate",
      "name": "Aggregate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Query Apps", "type": "main", "index": 0 }]] },
    "Query Apps": { "main": [[{ "node": "Aggregate", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
