n8n/workflows/05-executions-create.json
{
  "id": "fwt-wf-exec-create",
  "name": "FWT - POST /executions (start)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "executions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-exec-create",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "fwt-exec-create"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO executions (app_id, app_version, workplace_id, worker_id) SELECT (($1::jsonb)->>'app_id')::uuid, (SELECT current_version FROM apps WHERE id = (($1::jsonb)->>'app_id')::uuid), ($1::jsonb)->>'workplace_id', ($1::jsonb)->>'worker_id' RETURNING id::text AS execution_id",
        "options": {
          "queryReplacement": "={{ JSON.stringify([$json.body]) }}"
        }
      },
      "id": "pg-exec-create",
      "name": "Insert Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": { "id": "fwt-pg", "name": "Postgres FlexWorkTwin" }
      }
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "resp-exec-create",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Insert Execution", "type": "main", "index": 0 }]] },
    "Insert Execution": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
