n8n/workflows/06-executions-step.json
{
  "id": "fwt-wf-exec-step",
  "name": "FWT - POST /executions/:id/step (log)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "executions/:id/step",
        "responseMode": "lastNode",
        "options": {
          "responseData": "firstEntryJson"
        }
      },
      "id": "wh-exec-step",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "fwt-exec-step"
    },
    {
      "parameters": {
        "jsCode": "// UUID direkt, Body base64. queryReplacement ist comma-separated; UUID hat keine Kommas.\nconst item = $input.first().json;\nconst id = (item.params && item.params.id) || '';\nconst body = item.body || {};\nconst body_b64 = Buffer.from(JSON.stringify(body), 'utf8').toString('base64');\nreturn [{ json: { id, body_b64 } }];"
      },
      "id": "code-exec-step-prep",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH body AS (SELECT convert_from(decode($2, 'base64'), 'UTF8')::jsonb AS j), ins AS (INSERT INTO execution_steps (execution_id, step_index, step_type, step_id, outcome, variables) SELECT $1::uuid, ((SELECT j->>'step_index' FROM body))::int, (SELECT j->>'step_type' FROM body), (SELECT j->>'step_id' FROM body), (SELECT j->>'outcome' FROM body), (SELECT j->'variables' FROM body) RETURNING execution_id) UPDATE executions SET variables = (SELECT j->'variables' FROM body) WHERE id = $1::uuid RETURNING true AS ok",
        "options": {
          "queryReplacement": "={{ $json.id }},={{ $json.body_b64 }}"
        }
      },
      "id": "pg-exec-step",
      "name": "Insert Step",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": { "id": "fwt-pg", "name": "Postgres FlexWorkTwin" }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare", "type": "main", "index": 0 }]] },
    "Prepare": { "main": [[{ "node": "Insert Step", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
