n8n/workflows/06-executions-step.json
{
  "id": "fwt-wf-exec-step",
  "name": "FWT - POST /executions/:id/step (log)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "executions/:id/step",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-exec-step",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "fwt-exec-step"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ins AS (INSERT INTO execution_steps (execution_id, step_index, step_type, step_id, outcome, variables) VALUES ($1::uuid, (($2::jsonb)->>'step_index')::int, ($2::jsonb)->>'step_type', ($2::jsonb)->>'step_id', ($2::jsonb)->>'outcome', ($2::jsonb)->'variables') RETURNING execution_id) UPDATE executions SET variables = ($2::jsonb)->'variables' WHERE id = $1::uuid RETURNING true AS ok",
        "options": {
          "queryReplacement": "={{ JSON.stringify([$json.params.id, $json.body]) }}"
        }
      },
      "id": "pg-exec-step",
      "name": "Insert Step",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": { "id": "fwt-pg", "name": "Postgres FlexWorkTwin" }
      }
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "resp-exec-step",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Insert Step", "type": "main", "index": 0 }]] },
    "Insert Step": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
