n8n/workflows/07-executions-finish.json
{
  "id": "fwt-wf-exec-finish",
  "name": "FWT - POST /executions/:id/finish",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "executions/:id/finish",
        "responseMode": "lastNode",
        "options": {
          "responseData": "firstEntryJson"
        }
      },
      "id": "wh-exec-finish",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "fwt-exec-finish"
    },
    {
      "parameters": {
        "jsCode": "// Finish hat nur status (string ohne Kommas: 'finished'/'aborted') — kein base64 noetig.\nconst item = $input.first().json;\nconst id = (item.params && item.params.id) || '';\nconst status = (item.body && item.body.status) || 'finished';\nreturn [{ json: { id, status } }];"
      },
      "id": "code-exec-finish-prep",
      "name": "Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE executions SET finished_at = now(), status = COALESCE($2, status) WHERE id = $1::uuid RETURNING id::text AS id, status",
        "options": {
          "queryReplacement": "={{ $json.id }},={{ $json.status }}"
        }
      },
      "id": "pg-exec-finish",
      "name": "Finish Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [680, 300],
      "credentials": {
        "postgres": { "id": "fwt-pg", "name": "Postgres FlexWorkTwin" }
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Prepare", "type": "main", "index": 0 }]] },
    "Prepare": { "main": [[{ "node": "Finish Execution", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
