n8n/workflows/07-executions-finish.json
{
  "name": "FWT - POST /executions/:id/finish",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "executions/:id/finish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-exec-finish",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "fwt-exec-finish"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE executions SET finished_at = now(), status = COALESCE(($2::jsonb)->>'status','finished') WHERE id = $1::uuid RETURNING id::text AS id, status",
        "options": {
          "queryReplacement": "={{ JSON.stringify([$json.params.id, $json.body || {}]) }}"
        }
      },
      "id": "pg-exec-finish",
      "name": "Finish Execution",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 300],
      "credentials": {
        "postgres": { "name": "Postgres FlexWorkTwin" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"id\": $json.id, \"status\": $json.status }",
        "options": {}
      },
      "id": "rw-exec-finish",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Finish Execution", "type": "main", "index": 0 }]] },
    "Finish Execution": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
