n8n/workflows/08-integration-forward.json
{
  "id": "fwt-wf-int-fwd",
  "name": "FWT - POST /integration/forward (Schnittstellen-Block)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "integration/forward",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-int-fwd",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "fwt-int-fwd"
    },
    {
      "parameters": {
        "jsCode": "// Schnittstellen-Block-Forwarding\n// Hier wuerden in Production REST/MQTT/OPC UA Nodes folgen.\n// Fuer den Prototyp simulieren wir Erfolg + protokollieren.\nconst body = $input.first().json.body || {};\nreturn [{ json: { ok: true, simulated: true, received: body, ts: new Date().toISOString() } }];"
      },
      "id": "code-int-fwd",
      "name": "Forward (Stub)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "resp-int-fwd",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Forward (Stub)", "type": "main", "index": 0 }]] },
    "Forward (Stub)": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
